@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
  font-family: etna;
  src: url(/fonts/Fontspring-DEMO-etna-regular.otf);
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  color: black;
  background-color: #fbf8b9;
  font-family: 'Quicksand', sans-serif;
  /* font-size: 1.5rem; */
}

.col-md-7 p {
  padding: 30px 100px 0px 0px;
}

.order-md-2 h2 {
  padding: 0px 0px 0px 100px;
}

.order-md-2 p {
  padding: 10px 0px 0px 100px;
}

/* inverse  */
.inverse {
  background-color: #fbf8b9 !important;
}

.inverse a {
  color: black;
}

.inverse a:hover {
  color: white;
}
/* end inverse  */

/* navbar */

.navbar {
  background-color: rgba(255, 255, 255, 0);
  padding-top: 40px;
  font-size: 1.3rem;
}
.navbar-brand {
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: rgba(181, 181, 181, 0.823);
}

.nav-item {
  margin-left: 24px;
}

.nav-link {
  color: white;
}

/* end navbar */

/* carousel  */
#myCarousel img {
  width: 100%;
  height: 100vh;
}
.carousel {
  margin-bottom: 4rem;
  top: -48px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 10px;
}
/* end carousel  */

/* quote */
.quote {
  color: #000000;
  font-family: 'etna', Sans-serif;
}

.quote-title {
  font-size: 4.375rem;
  font-weight: 300;
  font-style: italic;
  line-height: 85px;
  width: 70%;
  margin: 0 auto;
}

.quote-author {
  padding: 40px 300px 0px 0px;
  text-align: right;
  font-size: 1.875rem;
}
/* end quote */

/* Featurette / Marketing */
.featurette .test {
  position: relative;
  min-width: 300px;
  min-height: 600px;
}

.featurette img {
  border-radius: 10%;
  /* min-width: 500px; */
  /* min-height: 700px; */
  position: absolute;
  bottom: 0;
}

.featurette-divider {
  margin: 5rem 0;
}

svg {
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
}

/* footer */
footer svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

footer svg:hover {
  cursor: pointer;
  color: red;
}

footer a {
  color: #000000;
}

footer a:hover {
  color: red;
}

/* end footer */

img {
  /* make these 500 x 500 */
  width: 100%;
  height: 100%;
}
